@mixin dflex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

@mixin container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
}